# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.spec

# Ambientes virtuais
venv/
env/
.venv/
.env

# Base de dados (dados locais)
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.local

# Playwright
playwright-report/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
